[Unit]
Description=Stupider Discord Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/stupider-discord-bot
EnvironmentFile=/opt/stupider-discord-bot/.env
ExecStart=/root/.bun/bin/bun run start
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
